form {
    /* background-color: pink; */

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    min-width: 0;
}

form input, form textarea {
    /* background-color: bisque; */

    outline: none;
    border: var(--border-width-thin) solid var(--color-primary-200);
    border-radius: var(--radius-md);
    padding: var(--space-3) var(--space-4);

    transition: var(--transition-input);

}

form>*::placeholder{
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
    color: var(--color-text-muted);
}

form>*:focus::placeholder{
    color: var(--color-text-light);

}

textarea{
    resize: vertical;
}

