.featuresCard{
    background-color: var(--surface-primary);

    border: var(--border-width-thin) solid var(--color-primary-100);
    border-radius: var(--radius-3xl);
    box-shadow: var(--shadow-sm);

    padding: var(--space-6);

    transition: var(--transition-card);
}

.imageWrapper{
    border-radius: var(--radius-xl);
    overflow: hidden;

    max-height: 260px;
    background: var(--gradient-bg-hero-wave);
    

    margin-bottom: var(--space-8);
}

.imageWrapper img{
    width: 100%;
    /* object-fit: c; */
    max-height: 260px;

}

.cardContent .cardHeadingExtra {
    margin-bottom: var(--space-2);
}